@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.2s;
}

.edit-petForm {
    width: 100%;
    display: flex;
    justify-content: center;

}

.edit-petForm>div {
    display: flex;
    width: 100%;
}

.edit-petForm>div>div {
    width: 50%;
    padding: 0px 100px;
}

.edit-petForm>div>div>div:nth-child(1) {
    padding: 100px 0px;
}

.edit-petForm>div>div>div>h1 {
    font-size: 2.5em;
    font-family: 'Poppins';
    font-weight: 400;
}

.edit-petForm>div>div>div>p {
    font-size: 1.5em;
    font-family: 'Poppins';
    font-weight: 400;
    opacity: 0.5;
}

.col {
    display: flex;
    flex-direction: column;
    margin: 10px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.row input[type="radio"] {
    margin-right: 10px;
    border: solid lightgray 1px;
}

.col input[type="text"] {
    padding: 10px 5px;
    border: solid lightgray 1px;
}

.row input[type="date"] {
    padding: 10px 5px;
    border: solid lightgray 1px;
}

.pet-form-main form label,
.pet-form-main form span {
    opacity: 0.9;
    font-size: 0.9em;
}

.edit-petForm>div>div:nth-child(2) {
    padding: 50px;
    border-left: solid lightgray 1px;
}

.edit-petForm>div>div:nth-child(2)>div {
    padding: 50px 0px;
}

.edit-petForm>div>div:nth-child(2) h1 {

    font-weight: 400;
    font-size: 2em;
}

.edit-petForm>div>div:nth-child(2) p,
.edit-petForm>div>div:nth-child(2) ul li {

    font-weight: 400;

    font-size: 0.9em;
}

.edit-petForm>div>div:nth-child(2) ul {
    padding-left: 20px;
    opacity: 0.5;
}





.addPet{
    padding: 20px;
    font-family: 'Poppins';
    font-weight: 400;
    background-color: #1b1b1b;
    color: white;
    border: none;
}

.textarea{
    width: 100%;
}