@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Radley:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    transition: 0.1s;
    scroll-behavior: smooth;
}


h1 {
    font-family: 'Radley';
}

p {
    font-size: 0.8em;
}


header,
header>nav {
    width: 100%;
}


header>nav>div>ul {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    list-style: none;
    z-index: 100;
    position: absolute;
    padding: 20px;
}


header>nav>div>ul>li {
    text-decoration: none;
    text-align: center;
}

header>nav>div>ul>li>a,
header>nav>div>ul>li>form>input {

    text-decoration: none;
    opacity: 0.7;

}

header>nav>div>ul>li>a {
    color: black;
}

header>nav>div>ul>li>a:hover {
    opacity: 1;
    font-weight: 600;
}

header>nav>div>ul>li>form>input {

    background-color: #1B1B1B;
    border: none;
    color: white;
    padding: 5px 20px;

}

header>nav>div>ul>li>form>input:hover {

    background-color: #1b1b1b00;
    border: solid 2pt #1B1B1B;
    color: #1B1B1B;
    padding: 5px 20px;

}

header>nav>div>ul>li:nth-child(1) {
    grid-column: 1/4;
    text-align: start;
}

header>nav>div>ul>li:nth-child(1)>a {
    font-family: 'Radley';
    font-size: 1.2em;
    color: white;
}

header>nav>div>ul>li:nth-child(2) {
    grid-column: 5/6;

}

header>nav>div>ul>li:nth-child(6) {
    grid-column: 10/13;
    text-align: right;
}














.main-hero {
    width: 100%;
    position: relative;
    top: 0;
    left: 0;

}

.main-hero>div {
    display: flex;
    width: 100%;
}

.main-hero>div>div {
    width: 50%;
    height: 100vh;
}

.main-hero>div .hero-left {

    background-image: url(/assets/unsplash_Mv9hjnEUHR4.png);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;

    background-position: center;
}

.main-hero>div .hero-left>img {
    width: 100%;
    object-fit: cover;
}

.main-hero>div .hero-left>h1 {
    font-family: 'Radley';
    font-size: 88pt;
    align-self: end;
    color: white;
    width: 80%;
    line-height: 100%;
}

.main-hero .hero-left>div {
    display: none;
}

.main-hero>div>div:nth-child(2) {
    background-color: rgba(235, 234, 230, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-hero>div .hero-right>div {
    width: 80%;
    text-align: justify;
    height: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

}

.main-hero>div .hero-right>div>h1 {
    text-transform: uppercase;
    font-family: 'Radley';
    font-size: 1.5em;
    margin-bottom: 20PX;
    text-align: left;
}


.main-hero>div .hero-right>div>h1>span {
    font-family: 'Radley';
    font-style: italic;
}

.main-hero>div .hero-right>div>p {
    line-height: auto;
    font-size: 10pt;
}

.main-hero>div .hero-right>div>a {
    text-align: center;
    text-decoration: none;
    background-color: #1B1B1B;
    border-bottom: none;
    padding: 10px 20px;
    color: white;
    transition: 0.2s;
    width: 100%;
    font-size: 10pt;

}

.main-hero>div .hero-right>div>a:hover {
    text-align: center;
    text-decoration: none;
    border-bottom: solid 5px #1B1B1B;
    background-color: white;
    padding: 10px 20px;
    color: #1B1B1B;
    transition: 0.2s;
    font-weight: 500;
    width: 30%;

}


.main-hero>div .hero-right>div .pet-row-icon {
    margin: 20px;
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.main-hero>div .hero-right>div .pet-row-icon div {
    width: 75px;
    height: 75px;

}

.main-hero>div .hero-right>div .pet-row-icon div:hover {
    border: solid #1B1B1B 1px;
}

.main-hero>div .hero-right>div .pet-row-icon div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.main-hero>div .hero-right>div .pet-row-icon div img:hover {
    transform: scale(0.8);
}




.clinic-overview,
.clinic-overview>div {
    width: 100%;
}

.clinic-overview {
    background-color: rgba(235, 234, 230, 1);
    padding: 20px;
}

.clinic-overview>div>div {
    width: 50%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.clinic-overview>div>div>img {
    max-width: 100%;
    object-fit: contain;
    max-height: 100%;
}

.clinic-overview>div>div>h1 {
    margin-bottom: 20px;
}

.clinic-overview>div {
    display: flex;
    flex-direction: row;
    padding: 20px 100px;
    gap: 50px;
}

.whyUs {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #EBEAE6;
    height: 100%;
}

.whyUs>div {
    padding: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 30px;
    height: 60vh;
}

.whyUs>div>div {
    padding: 20px;

}

.whyUs>div>div:hover {
    border-bottom: solid 2px #1B1B1B;
}

.whyUs>div>div:first-child {
    flex-basis: 30%;

}

.whyUs>div>div:first-child:hover {
    border: none
}

.whyUs>div>div:first-child:hover {
    box-shadow: solid 0px;
}

.whyUs>div>div:first-child>h1 {
    font-size: 2rem;
}

.whyUs>div>div>h1 {
    font-family: 'Radley';
}

.whyUs>div>div>p {
    font-size: 0.8rem;
}

.services {
    padding: 100px;
    background-color: #EBEAE6;
    display: flex;
    gap: 50px;
}

/* .services > div{
    width: 50%;
} */

.services>div:last-child {
    width: 75%;
}

.services>div:first-child>h1 {
    font-size: 2rem;
}

.accordion>div>h1 {
    padding-bottom: 20px;
}

.accordion {
    max-width: 100%;
    border-radius: 5px;
    overflow: hidden;
    border-top: solid 1px black;
    padding: 20px 0px;
}


.accordion>div {
    display: flex;
    flex-direction: column;
}

.accordion__label {
    background-color: black;
    width: fit-content;
    color: white;
    font-weight: 500;
    cursor: pointer;
    position: relative;
    transition: background 0.1s;
    font-size: 0.8em;
    padding: 10px 20px;
    margin: 10px 0px;
}

.accordion__content {

    padding: 0px 20px;
}

.accordion__label:hover {}


.accordion__label {}

.accordion__label::after {
    content: " + ";
}

.accordion__content {
    line-height: 1.6;
    font-size: 0.85em;
    display: none;
}

.accordion__content>ul {
    list-style: none;
}

.accordion__content>ul li::before {
    content: "+ ";
}

.accordion__input {
    display: none;
}

.accordion__input:checked~.accordion__content {
    display: block;
}

.accordion__input:checked~.accordion__label::after {
    content: " - ";
}


.cta {
    width: 100%;
    background-color: #EBEAE6;

    max-height: 100vh;
}

.cta>div {
    padding: 20px 100px;
    display: flex;
    justify-content: center;
    min-height: 70vh;
}

.cta>div>div {
    display: flex;
    min-width: 70%;
    background-color: white;
}

.cta>div>div>div {
    width: 50%;
}

.cta>div>div>div:first-child>img {
    width: 100%;
    height: 100%;

}

.cta>div>div>div:last-child {
    display: flex;
    flex-direction: column;
    padding: 50px;
    justify-content: center;
}

.cta>div>div>div:last-child>h1 {
    font-size: 2em;
}

.cta>div>div>div:last-child>a {
    margin: 20px 0px;
    text-align: center;
    padding: 5px 20px;
    background-color: #1B1B1B;
    /* width: max-content; */
    color: white;
    text-decoration: none;
}

.cta>div>div>div:last-child>form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0px;
}

.cta>div>div>div:last-child>form>input {
    padding: 5px 10px;

}

.cta>div>div>div:last-child>form>a {
    order: 7;
    color: black;
    font-size: 0.8em;
}

.error {
    font: 0.8em sans-serif;
    text-align: center;
    padding: 5px;
    border-radius: 5px;
    border: rgb(191, 63, 63) solid 2px;
    color: white;
    color: rgb(191, 63, 63);
    background-color: rgba(254, 163, 163, 0.468);
}

.cta-photo {
    background-image: url(../assets/cta-photo.png);
    background-size: cover;
    background-repeat: no-repeat;
}

.cta>div>div>div:last-child>form>button {
    padding: 10px 5px;
    background-color: #1B1B1B;
    border: none;
    color: white;
}

.login {
    height: 100vh;
}

.login>div>div>div>h1 {
    text-align: center;
}

.login>div>div>div:last-child>a {

    position: absolute;
    right: 10px;
    top: 20px;
    background-color: #1b1b1b00;
    text-decoration: none;
    color: black;
}

.login>div>div>div:last-child {
    position: relative;
}

footer {
    background-color: #1B1B1B;
    color: white;
}

footer h1 {
    font-family: 'Poppins';
    font-size: 1em;
}

footer a {
    color: white;
    text-decoration: none;
    font-size: 0.8em;
}

footer a:hover {
    text-decoration: underline;
}

footer>div {
    padding: 50px 100px;
    display: flex;

    gap: 50px;
}

footer>div>div:first-child {
    width: 50%;
}

footer>div>div {
    display: flex;
    flex-direction: column;

}



@media only screen and (min-width: 768px) and (max-width: 1199px) {


    header>nav>div>ul>li:nth-child(1) {
        grid-column: 1/3;

    }

    header>nav>div>ul>li:nth-child(2) {
        grid-column: 3/5;

    }

    header>nav>div>ul>li:nth-child(3) {
        grid-column: 5/7;

    }

    header>nav>div>ul>li:nth-child(4) {
        grid-column: 7/9;

    }

    header>nav>div>ul>li:nth-child(5) {
        grid-column: 9/11;

    }

    header>nav>div>ul>li:nth-child(6) {
        grid-column: 11/13;

    }

    .whyUs>div {
        padding: 100px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    .cta {
        padding: 20px 100px;
    }

    .cta>div {
        padding: 0px;
    }

    .cta>div>div {
        padding: 0px;
        max-width: 80%;
    }



}

@media only screen and (max-width: 768px) {



    header>nav>div>ul {
        width: 100%;
        display: flex;
        flex-direction: column;
        list-style: none;
        z-index: 100;
        position: absolute;
        padding: 20px;
        background-color: #EBEAE6;
    }

    header>nav>div>ul>li:nth-child(1) {
        grid-column: 1/4;
        text-align: center;
        text-transform: uppercase;

    }

    header>nav>div>ul>li:nth-child(1)>a {
        color: #1B1B1B;
        opacity: 1;
    }

    header>nav>div>ul>li:nth-child(2),
    header>nav>div>ul>li:nth-child(3),
    header>nav>div>ul>li:nth-child(4),
    header>nav>div>ul>li:nth-child(5),
    header>nav>div>ul>li:nth-child(6) {
        display: none;
    }

    .main-hero>div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .main-hero>div>div {
        width: 100%;
    }

    .main-hero>div .hero-left {
        height: 400px;
    }

    .main-hero>div .hero-right {
        height: 40vh;
        padding: 0px 0px;
        position: relative;
    }

    .main-hero>div>div:nth-child(2) {
        background-color: #1B1B1B;
    }

    .main-hero>div .hero-right>div {
        position: absolute;
        top: -100px;
        background-color: #EBEAE6;
        height: fit-content;
        padding: 20px;
    }

    .main-hero>div .hero-right>div>h1 {
        text-align: center;
    }

    .whyUs>div {
        padding: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
        height: 100%;
    }

    .cta>div>div {
        padding: 0px;
        max-width: 100%;
    }

    .clinic-overview {
        background-color: #1B1B1B;
        padding: 20px;
    }

    .clinic-overview>div {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 50px;
    }


    .clinic-overview>div>div {
        color: white;
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .services {
        padding: 40px;
        background-color: #EBEAE6;
        display: flex;
        flex-direction: column;
        gap: 50px;
    }

    .services>div:last-child {
        width: 90%;
    }

    .cta {
        width: 100%;
        background-color: #1B1B1B;
    }

    .cta>div {
        padding: 20px;
        display: flex;
        justify-content: center;
    }

    .cta>div>div {
        flex-direction: column;
    }

    .cta>div>div>div {
        width: 100%;
    }

    .cta-photo {
        height: 400px;
        background-position: center;

    }

    footer>div {
        padding: 40px;
        display: flex;
        gap: 50px;
        flex-direction: column;
    }

    footer>div>div:first-child {
        width: 100%;
    }

    footer>div>div {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
}